body {
     font-family: sans-serif;
}
h1 {
     font-size: 25px;
}
label,
input {
     display: block;
     margin-bottom: 10px;
}
input[type="submit"] {
     margin-top: 10px;
}
.word-list {
     margin-top: 20px;
}
.word-list h2 {
     margin-top: 0;
}
.word-list li {
     list-style: none;
     margin-bottom: 10px;
}
